
<%- include('partials/head.ejs'); -%>

<%- include('partials/header.ejs'); -%>

<div class="container">
	
	<h1>Sorteio Nação Hookah</h1>
	<img class="img-home" src="/img/vgod.jpg">
	


</div>
	


<%- include('partials/footer.ejs'); -%>
