<%- include('partials/head.ejs'); -%>

<%- include('partials/header.ejs'); -%>


<div class="container">
	<br>
	<h1 style="display: inline-block; color: red;">Numero ja Escolhido por outro participante!</h1>

	<button type="button"  class="btn btn-success btn-centro" onclick="window.history.back()">Escolher outro numero</button>


</div>




<%- include('partials/footer.ejs'); -%>