<%- include('partials/head.ejs'); -%>

<%- include('partials/header.ejs'); -%>


<div class="container">
	<br>
	<h1 style="display: inline-block; color: green;">Participente Excluido com Sucesso.</h1>

	<a type="button"  class="btn btn-success btn-centro" href="/participantes">Voltar</a>


</div>




<%- include('partials/footer.ejs'); -%>